body {
  font: icon;
}

#draftDiv {
  display: flex;
}

#draftInput {
  flex: 1;
}

#itemsUl {
  padding: 0;
}

li {
  align-items: center;
  display: flex;
}

li:hover {
  background: silver;
}

li label {
  cursor: text;
}

li div.editor {
  display: flex;
  flex: 1;
  flex-direction: column;
}

li div.viewer {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* label.title */

label.content {
  flex: 1;
  /* TODO: Is this horribly inefficient due to stacked context? */
  opacity: 0.5;
  overflow: hidden;
  padding-left: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

label.crossed {
  text-decoration: line-through;
}

label.archived {
  opacity: 0.5;
}
